Django==4.2.24
djangorestframework==3.16.1
requests==2.32.5
django-cors-headers==4.9.0
django-revproxy==0.13.0
flake8
isort
black
setuptools==80.9.0

# UI Testing
playwright
pytest-bdd
pytest-django

# Security & Code Quality
bandit
safety
